@model List<UsersStats>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


<h1>User Roles</h1>
<form id="accounts" method="post">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="submit" class="btn btn-danger" name="action" value="Block" title="Block">Block</button>
            <button type="submit" class="btn btn-primary" name="action" value="Unblock" title="Unblock"><i class="bi bi-unlock-fill"></i></button>
            <button type="submit" class="btn btn-warning" name="action" value="Delete" title="Delete"><i class="bi bi-trash3"></i></button>
        </div>
    </div>

    <table class="table table-bordered table-responsive" id="tblUsers">
        <thead>
            <tr>
                <th><input type="checkbox" id="chkAll" onclick="toggleCheckBoxes(this)" /></th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of registration</th>
                <th>Date of last login</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td><input type="checkbox" name="userId" value="@user.UserId"></td>
                    <td>@Html.DisplayFor( i => user.UserId)</td>
                    <td>@Html.DisplayFor( i => user.UserName)</td>
                    <td>@Html.DisplayFor( i => user.Email)</td>
                    <td>@Html.DisplayFor( i => user.DateRegistered)</td>
                    <td>@Html.DisplayFor( i => user.DateLastVisited)</td>
                    <td>@Html.DisplayFor( i => user.Status)</td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script type="text/javascript">
function toggleCheckBoxes(elem) {

        var div = document.getElementById('tblUsers');

    var chk = div.getElementsByTagName('input');
    var len = chk.length;

    for (var i = 0; i < len; i++) {
        if (chk[i].type === 'checkbox') {
            chk[i].checked = elem.checked;
        }
    }
}
</script>